<% if @thoughts.any? %>
  <hr>
    <ul class="thoughts small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @thoughts.each do |thought| %>
      <li>
        <%= get_thought_home_content(thought) %>
      </li>
      <% end %>
    </ul>
<% end %>