<% content_for title = "home" %>
<div class="row">
  <div class="small-12 columns">
    <h2>Where to find me</h2>
    <ul class="inline-list find-me-links">
      <li><a href="https://github.com/roymckenzie" title="Github" target="_blank"><i class="fi-social-github"></i></a></li>
      <li><a href="https://twitter.com/roymckenzie" title="Twitter" target="_blank"><i class="fi-social-twitter"></i></a></li>
      <li><a href="https://instagram.com/roymckenzie" title="Instagram" target="_blank"><i class="fi-social-instagram"></i></a></li>
    </ul>

    <h2>Where I am at</h2>
    <p>I am working full-time for a software development company named <a href="http://propellerlabs.co" title="Propeller Labs" target="_blank">Propeller Labs</a>.</p>
  </div>
</div>