$smoke: #EEEEEE;
$silver: #EFEFEF;
$gainsboro: #DDDDDD;
$iron: #CCCCCC;
$base: #AAAAAA;
$aluminum: #999999;
$alert-color: #f04124;
$primary-color: #008CBA;
$font-family-serif: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;

.top-bar {

  .byline {
    color: #aaa;
    font-family: $font-family-serif;
    font-style: italic;
  }

  .title-area {

    .name h1, .name span {
      font-size: 1.4rem;

      a {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 700;
      }

      span {
        color: #aaa;
        font-weight: 300;
      }
    }
  }
}

.button.tiny i {
  font-size: 0.8rem;
}

table .button {
  margin-bottom: 0;
}

.add-thought, .back-to-thoughts {
  margin-bottom: 0;
  margin-top: 0.8rem;
  vertical-align: middle;
}

.thought-filter.active {
  font-weight: bold;
}

.social i {
  font-size: 1.1rem;
}

.thought {

  .p-name a {
    color: #333;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
  }

  .p-summary {
    color: $aluminum;
    font-family: $font-family-serif;
    font-size: 0.9rem;
  }

  .panel {
    border-top: 0;
    margin-bottom: 1rem;
  }

  .thought-published {
    color: $base;
    font-family: $font-family-serif;
    font-size: 0.8rem;
  }

  .read-more {
    font-family: $font-family-serif;
    font-size: 0.8rem;
    padding-top: 0.3rem;
  }
}

.thoughts {

}

/* Thoughts Show Page Start */

.thoughts-index {
  h2 {

    button {
      margin-bottom: 0;
      vertical-align: middle
    }
  }
}

.thoughts-show, .thoughts-update {

  .p-name {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
  }

  .p-summary {
    color: $base;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
  }

  .entry-image {
    margin: 0;
    margin-bottom: 2rem;

    figcaption {
      color: $base;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  .byline {
    color: $aluminum;
    font-family: $font-family-serif;
    font-size: 0.85rem;
  }

  pre {

    p {
      margin-bottom: 0;
    }
  }

  code {
    background: none;
    border: 0;
    font-size: 0.8rem;
    padding: 0;
  }

  .e-content p {
    font-family: $font-family-serif;
  }
}

.thoughts-edit, .thoughts-new {

  .upload-image-field {
    display: none;
  }

  .trash-thought {
    color: $alert-color;
    font-size: 0.7rem;
  }

  .button.back-to-thoughts {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}

.thoughts-index {

  .add-thought {
    margin-top: 0.5rem;
  }
}

/* Thoughts Show Page End   */
.article-rule {
  margin-bottom: 0;
}
/* Link Post Type Start */

.link-thought, .thoughts-new, .thoughts-edit, .home-show {

  .link-panel {
    padding: 0;
    width: 100%;
  }

  .link-body {
    display: table-cell;
    padding: 1.25rem;

    p {
      font-family: $font-family-serif;
      margin-bottom: 0;
    }
  }

  .link-image {
    background-position: center center;
    background-size: cover;
    display: table-cell;
    height: 100%;
    width: 40%;
  }

  .link-title a {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
  }
}

.thoughts-new, .thoughts-edit, .home-show {

  .link-image {
    width: 30%;
  }

  .link-body {
    padding: 0.4rem 0.6rem 0.6rem 0.6rem;

    p {
      font-size: 0.7rem;
    }
  }

  .delete-link {
    font-size: 0.5rem;
    margin-top: -0.1rem;
  }
}


.home-show {

  .link-panel {
    background: #fff;
    border-bottom: 0;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 0;
  }
}

.home-text-thought, .home-link-thought {
  position: relative;

  &:hover {

    .thought-kind {
      opacity: 1;
    }
  }

  .thought-kind {
    opacity: 0.2;
    position: absolute;
    right: 0;
    transition: 0.2s;
  }

  .link-title {
    padding-right: 1rem;
  }
}

/* Link Post Type End */



