$smoke: #EEEEEE;
$silver: #EFEFEF;
$gainsboro: #DDDDDD;
$iron: #CCCCCC;
$base: #AAAAAA;
$aluminum: #999999;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

.thought-published {
  color: #aaa;
  font-size: 0.8rem;
}

.add-thought {
  margin-top: 1rem;
}

.social i {
  font-size: 1rem;
}

.thought {
  transition: 0.2s;

  &:hover {
    transform: scale(1.03,1.03);
    -webkit-transform: scale(1.03,1.03);
  }
}

/* Thoughts Show Page Start */

.thoughts-show {

  .entry-image {
    margin: 0;

    figcaption {
      color: $base;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  .byline {
    color: $aluminum;
    font-family: $font-family-serif;
    font-style: italic;
  }

  code {
    background: none;
    border: 0;
    font-size: 0.8rem;
    padding: 0;
  }
}

/* Thoughts Show Page End   */





