// Place all the styles related to the thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thought-published {
  color: #aaa;
  font-size: 0.8rem;
}

.add-thought {
  margin-top: 10px;
}

.social i {
  font-size: 1rem;
}