<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <hr class="article-rule">
    <%= get_thought_content(@thought.kind) %>
  </div>
  <% if user_signed_in? %>
  <div class="small-12 medium-2 columns">
    <hr>
    <%= link_to("Edit thought", edit_thought_path(@thought), class: "button expand small") %>
  </div>
  <% end %>
</div>